$primary-font-stack: 'PT Sans Narrow', Arial, Helvetica, sans-serif;

$width-body-max: 1920px;
$width-body-min: 400px;

$color-night: #080b22;
$color-day-hot: #ff7200;
$color-day-cold: #166eef;

$width-main: 67%;

$width-menu: 33%;
$width-menu-min: 400px;

$color-text-primary: #fff;

$breakpoint-fontsize: 1024px;

$breakpoint-main-stretch: 1500px;

$breakpoint-iphone: 800px;

$breakpoint-ipad-portrait: 750px;